---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">
			<svg width="138" height="48" viewBox="0 0 138 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M59.4176 37.1741C55.6028 37.1741 54.5864 35.6573 54.5864 32.7341V17.8662H58.4584V32.3759C58.4584 33.34 58.872 33.8927 59.8576 33.8927H66.6908V37.1741H59.4176Z" fill="#005C82"/>
				<path d="M81.4572 37.121C80.718 37.2581 79.4816 37.5058 76.5996 37.5058C71.6584 37.5058 68.2572 35.6572 68.2572 30.4433C68.2572 26.8833 71.1656 23.655 75.4468 23.655C78.7688 23.655 81.5672 25.5036 81.5672 29.7534C81.5672 30.0851 81.5672 30.5804 81.5408 30.9651H71.7684C71.962 33.6981 73.8804 34.3836 76.956 34.3836C79.3144 34.3836 80.8236 34.189 81.4572 33.9989V37.1166V37.121ZM77.8052 28.5417C77.8052 27.33 76.9824 26.335 75.3632 26.335C73.744 26.335 72.6176 27.1885 72.0984 28.5417H77.8052Z" fill="#005C82"/>
				<path d="M92.5452 37.1741L89.6632 32.4864L86.9176 37.1741H82.9664L87.5512 30.0851L83.6792 23.9867H87.7668L89.9888 27.6572L92.2416 23.9867H96.14L92.1316 30.0276L96.7164 37.1741H92.5452Z" fill="#005C82"/>
				<path d="M105.829 36.869C105.389 37.0326 104.566 37.1741 103.686 37.1741C100.558 37.1741 98.3884 35.2416 98.3884 31.8231V20.042H102.12V23.9867H105.415V26.8833H102.12V31.8231C102.12 33.0658 102.832 34.0033 104.069 34.0033C104.839 34.0033 105.332 33.8927 105.824 33.6982V36.869H105.829Z" fill="#005C82"/>
				<path d="M107.364 30.5804C107.364 26.5251 110.299 23.655 114.255 23.655C118.21 23.655 121.145 26.5251 121.145 30.5804C121.145 34.6357 118.21 37.5058 114.255 37.5058C110.299 37.5058 107.364 34.6357 107.364 30.5804ZM117.41 30.5804C117.41 27.958 116.173 26.6091 114.255 26.6091C112.336 26.6091 111.1 27.9624 111.1 30.5804C111.1 33.1984 112.336 34.5517 114.255 34.5517C116.173 34.5517 117.41 33.1984 117.41 30.5804Z" fill="#005C82"/>
				<path d="M123.913 43.215V30.5539C123.913 26.1935 126.685 23.6595 130.803 23.6595C134.922 23.6595 137.28 26.8303 137.28 31.0271C137.28 35.2239 134.754 37.5102 131.05 37.5102C129.734 37.5102 128.471 37.1255 127.648 36.2985V43.2239H123.917L123.913 43.215ZM133.549 30.5804C133.549 27.958 132.37 26.6092 130.504 26.6092C128.638 26.6092 127.459 27.9624 127.459 30.5804C127.459 33.1985 128.638 34.5517 130.504 34.5517C132.37 34.5517 133.549 33.1985 133.549 30.5804Z" fill="#005C82"/>
				<path d="M58.3 41.9724C58.4496 41.2648 58.6124 40.513 58.718 40.1017H58.7004C58.4144 40.7341 57.5124 42.3925 56.8656 43.5865H56.3772C56.276 42.6269 56.0384 40.6014 56.0252 40.0929H56.0076C55.946 40.5174 55.77 41.4019 55.6336 42.0652L55.3168 43.5865H54.802L55.616 39.717H56.4344C56.5708 40.827 56.7512 42.3704 56.7688 42.8878H56.7776C56.9536 42.4809 57.8644 40.8668 58.4892 39.717H59.312L58.498 43.5865H57.9656L58.3044 41.9724H58.3ZM61.644 42.8834C61.5912 43.131 61.5252 43.4759 61.512 43.5865H61.006C61.0148 43.4892 61.0412 43.3167 61.072 43.1752C60.9312 43.3919 60.7024 43.644 60.1348 43.644C59.5672 43.644 59.356 43.2637 59.356 42.9276C59.356 42.1227 60.0996 41.937 60.676 41.8795C60.9576 41.853 61.1996 41.853 61.3492 41.8485L61.3844 41.6672C61.4372 41.4107 61.4196 41.0835 60.9048 41.0835C60.456 41.0835 60.3328 41.3223 60.2536 41.5257H59.73C59.8268 41.0967 60.1392 40.6943 60.9488 40.6943C61.6044 40.6943 62.04 40.9862 61.8948 41.6805L61.6396 42.8878L61.644 42.8834ZM61.2744 42.22C61.116 42.22 60.9356 42.2289 60.7112 42.251C60.2624 42.304 59.9016 42.4279 59.9016 42.8436C59.9016 43.047 60.038 43.2195 60.3328 43.2195C60.9268 43.2195 61.1512 42.7507 61.2612 42.2642L61.2744 42.22ZM62.8936 40.7474H63.3908C63.3864 40.8181 63.3468 41.0923 63.294 41.3311C63.4964 40.942 63.8308 40.6943 64.2752 40.6943L64.1652 41.2294C63.6328 41.2648 63.2368 41.6451 63.1004 42.2775L62.8232 43.5865H62.3084L62.7308 41.5876C62.788 41.309 62.8452 41.0083 62.8936 40.7474ZM65.0804 42.0254C65.3576 41.7645 66.0968 41.1188 66.506 40.7474H67.1484C66.7304 41.1233 66.308 41.4903 65.8988 41.853L66.6292 43.5865H66.0484L65.494 42.1758L64.9748 42.5826L64.7636 43.5865H64.2488L65.1068 39.5003H65.6216L65.0804 42.0254ZM67.5532 42.2554C67.54 42.3571 67.5312 42.419 67.5312 42.5075C67.5312 42.9497 67.7336 43.2195 68.1208 43.2195C68.508 43.2195 68.6884 43.0028 68.8116 42.7728H69.3484C69.168 43.2106 68.8204 43.6396 68.068 43.6396C67.3156 43.6396 67.012 43.1664 67.012 42.503C67.012 41.7159 67.4388 40.6899 68.4992 40.6899C69.2692 40.6899 69.5288 41.1896 69.5288 41.7159C69.5288 41.9016 69.5068 42.0696 69.4584 42.251H67.5532V42.2554ZM69.0096 41.8751C69.0228 41.8087 69.0272 41.7424 69.0272 41.6849C69.0272 41.3267 68.86 41.1056 68.4684 41.1056C68.0548 41.1056 67.7644 41.3886 67.6324 41.8751H69.0096ZM70.0656 40.7474H70.5232L70.6948 39.9381H71.2096L71.038 40.7474H71.6232L71.5308 41.1631H70.9456L70.598 42.8259C70.5452 43.0691 70.5584 43.1929 70.8004 43.1929C70.884 43.1929 70.9852 43.1885 71.0732 43.1708L70.9852 43.5688C70.8488 43.6175 70.6992 43.6175 70.5716 43.6175C70.1008 43.6175 69.9688 43.3787 70.0656 42.901L70.4308 41.1631H69.9732L70.0656 40.7474ZM72.6792 40.7474L72.0808 43.5865H71.566L72.1644 40.7474H72.6792ZM72.424 39.5003H72.9388L72.8068 40.1282H72.292L72.424 39.5003ZM73.48 40.7474H73.986C73.9772 40.8358 73.9244 41.1321 73.9068 41.2073C74.0608 40.9641 74.3292 40.6943 74.8352 40.6943C75.3764 40.6943 75.7108 41.0127 75.5348 41.8264L75.1652 43.5909H74.6504L75.0156 41.8397C75.1036 41.4328 75.0156 41.1498 74.6064 41.1498C74.1136 41.1498 73.8276 41.592 73.7088 42.1625L73.4096 43.5909H72.8948L73.3392 41.4726C73.3876 41.2294 73.4404 40.9862 73.48 40.7518V40.7474ZM78.3464 43.2814C78.1572 44.1835 77.88 44.754 76.8812 44.754C75.8824 44.754 75.812 44.2189 75.812 43.8872H76.3312C76.3356 44.1305 76.4984 44.3427 76.934 44.3427C77.4972 44.3427 77.682 43.9668 77.8316 43.3079L77.88 43.0868C77.6864 43.3875 77.4092 43.5688 76.9912 43.5688C76.4192 43.5688 76.0716 43.1664 76.0716 42.4765C76.0716 41.6363 76.582 40.6943 77.4972 40.6943C77.9768 40.6943 78.2276 40.9287 78.2848 41.1321C78.3156 41.0083 78.3684 40.827 78.3992 40.7518H78.892C78.8392 40.9729 78.7776 41.2471 78.7248 41.4947L78.342 43.2814H78.3464ZM76.6128 42.4367C76.6128 42.8922 76.8108 43.1266 77.176 43.1266C77.6732 43.1266 77.9812 42.6667 78.1044 42.0873C78.2144 41.5743 78.1044 41.1321 77.5412 41.1321C76.934 41.1321 76.6084 41.8043 76.6084 42.4411L76.6128 42.4367ZM81.3824 39.7125H82.522C83.5164 39.7125 84.1368 40.3317 84.1368 41.3488C84.1368 42.6224 83.3272 43.5821 81.9632 43.5821H80.5684L81.3824 39.7125ZM81.202 43.1354H81.9588C82.9664 43.1354 83.5604 42.4234 83.5648 41.3577C83.5648 40.6014 83.1688 40.1636 82.4516 40.1636H81.8268L81.202 43.1354ZM85.5668 40.7474L84.9684 43.5865H84.4536L85.052 40.7474H85.5668ZM85.3116 39.5003H85.8264L85.6944 40.1282H85.1796L85.3116 39.5003ZM88.1672 43.2814C87.978 44.1835 87.7008 44.754 86.702 44.754C85.7032 44.754 85.6328 44.2189 85.6328 43.8872H86.152C86.1564 44.1305 86.3192 44.3427 86.7548 44.3427C87.318 44.3427 87.5028 43.9668 87.6524 43.3079L87.7008 43.0868C87.5072 43.3875 87.23 43.5688 86.812 43.5688C86.24 43.5688 85.8924 43.1664 85.8924 42.4765C85.8924 41.6363 86.4028 40.6943 87.318 40.6943C87.7976 40.6943 88.0484 40.9287 88.1056 41.1321C88.1364 41.0083 88.1892 40.827 88.22 40.7518H88.7128C88.66 40.9729 88.5984 41.2471 88.5456 41.4947L88.1628 43.2814H88.1672ZM86.4336 42.4367C86.4336 42.8922 86.6316 43.1266 86.9968 43.1266C87.494 43.1266 87.802 42.6667 87.9252 42.0873C88.0352 41.5743 87.9252 41.1321 87.362 41.1321C86.7548 41.1321 86.4292 41.8043 86.4292 42.4411L86.4336 42.4367ZM90.0284 40.7474L89.43 43.5865H88.9152L89.5136 40.7474H90.0284ZM89.7776 39.5003H90.2924L90.1604 40.1282H89.6456L89.7776 39.5003ZM90.4904 40.7474H90.948L91.1196 39.9381H91.6344L91.4628 40.7474H92.048L91.9556 41.1631H91.3704L91.0228 42.8259C90.97 43.0691 90.9832 43.1929 91.2252 43.1929C91.3088 43.1929 91.41 43.1885 91.498 43.1708L91.41 43.5688C91.2736 43.6175 91.124 43.6175 90.9964 43.6175C90.5256 43.6175 90.3936 43.3787 90.4904 42.901L90.8556 41.1631H90.398L90.4904 40.7474ZM94.2392 42.8834C94.1864 43.131 94.1204 43.4759 94.1072 43.5865H93.6012C93.61 43.4892 93.6364 43.3167 93.6672 43.1752C93.5264 43.3919 93.2976 43.644 92.73 43.644C92.1624 43.644 91.9512 43.2637 91.9512 42.9276C91.9512 42.1227 92.6948 41.937 93.2712 41.8795C93.5528 41.853 93.7948 41.853 93.9444 41.8485L93.9796 41.6672C94.0324 41.4107 94.0148 41.0835 93.5 41.0835C93.0512 41.0835 92.928 41.3223 92.8488 41.5257H92.3252C92.422 41.0967 92.7344 40.6943 93.544 40.6943C94.1996 40.6943 94.6352 40.9862 94.49 41.6805L94.2348 42.8878L94.2392 42.8834ZM93.8696 42.22C93.7112 42.22 93.5308 42.2289 93.3064 42.251C92.8576 42.304 92.4968 42.4279 92.4968 42.8436C92.4968 43.047 92.6332 43.2195 92.928 43.2195C93.522 43.2195 93.7464 42.7507 93.8564 42.2642L93.8696 42.22ZM94.9036 43.5865L95.7616 39.5003H96.2764L95.4184 43.5865H94.9036Z" fill="#575756"/>
				<path d="M23.8788 0C37.0656 0 47.7576 10.7463 47.7576 24C47.7576 37.2537 37.0656 48 23.8788 48C10.692 48 0 37.2537 0 24C0 18.2023 2.046 12.8823 5.4516 8.73411L6.094 7.92924V24C6.094 33.8706 14.0536 41.8706 23.8788 41.8706C33.704 41.8706 41.6592 33.8706 41.6592 24C41.6592 14.1294 33.6996 6.12935 23.8788 6.12935V0Z" fill="#005C82"/>
				<path d="M17.9388 0.55719V24.911C17.9388 27.728 20.2136 30.0143 23.0164 30.0143L34.4784 30.0409C32.384 33.7468 28.4196 36.2454 23.8788 36.2454C17.4284 36.2454 12.1484 31.204 11.7216 24.8314V3.18848C11.7216 3.18848 14.3704 1.33552 17.9388 0.55719Z" fill="#6BC8E8"/>
			</svg>
		</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Lextop</HeaderLink>
			<HeaderLink href="/portfolio">Portafolio</HeaderLink>
			<HeaderLink href="/services">Servicios</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="#">Contacto</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/company/lextop/" target="_blank">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M28.4444 0C29.3874 0 30.2918 0.374602 30.9586 1.0414C31.6254 1.70819 32 2.61256 32 3.55556V28.4444C32 29.3874 31.6254 30.2918 30.9586 30.9586C30.2918 31.6254 29.3874 32 28.4444 32H3.55556C2.61256 32 1.70819 31.6254 1.0414 30.9586C0.374602 30.2918 0 29.3874 0 28.4444V3.55556C0 2.61256 0.374602 1.70819 1.0414 1.0414C1.70819 0.374602 2.61256 0 3.55556 0H28.4444ZM27.5556 27.5556V18.1333C27.5556 16.5963 26.945 15.1221 25.8581 14.0353C24.7712 12.9484 23.2971 12.3378 21.76 12.3378C20.2489 12.3378 18.4889 13.2622 17.6356 14.6489V12.6756H12.6756V27.5556H17.6356V18.7911C17.6356 17.4222 18.7378 16.3022 20.1067 16.3022C20.7668 16.3022 21.3998 16.5644 21.8666 17.0312C22.3333 17.498 22.5956 18.131 22.5956 18.7911V27.5556H27.5556ZM6.89778 9.88445C7.68989 9.88445 8.44956 9.56978 9.00967 9.00967C9.56978 8.44956 9.88445 7.68989 9.88445 6.89778C9.88445 5.24444 8.55111 3.89333 6.89778 3.89333C6.10095 3.89333 5.33676 4.20987 4.77331 4.77331C4.20987 5.33676 3.89333 6.10095 3.89333 6.89778C3.89333 8.55111 5.24444 9.88445 6.89778 9.88445ZM9.36889 27.5556V12.6756H4.44444V27.5556H9.36889Z" fill="#005C82"/>
				</svg>
			</a>
			<a href="https://www.instagram.com/lextop_pe" target="_blank">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.28 0H22.72C27.84 0 32 4.16 32 9.28V22.72C32 25.1812 31.0223 27.5416 29.282 29.282C27.5416 31.0223 25.1812 32 22.72 32H9.28C4.16 32 0 27.84 0 22.72V9.28C0 6.81879 0.977712 4.45839 2.71805 2.71805C4.45839 0.977712 6.81879 0 9.28 0ZM8.96 3.2C7.43235 3.2 5.96727 3.80686 4.88707 4.88707C3.80686 5.96727 3.2 7.43235 3.2 8.96V23.04C3.2 26.224 5.776 28.8 8.96 28.8H23.04C24.5676 28.8 26.0327 28.1931 27.1129 27.1129C28.1931 26.0327 28.8 24.5676 28.8 23.04V8.96C28.8 5.776 26.224 3.2 23.04 3.2H8.96ZM24.4 5.6C24.9304 5.6 25.4391 5.81071 25.8142 6.18579C26.1893 6.56086 26.4 7.06957 26.4 7.6C26.4 8.13043 26.1893 8.63914 25.8142 9.01421C25.4391 9.38929 24.9304 9.6 24.4 9.6C23.8696 9.6 23.3609 9.38929 22.9858 9.01421C22.6107 8.63914 22.4 8.13043 22.4 7.6C22.4 7.06957 22.6107 6.56086 22.9858 6.18579C23.3609 5.81071 23.8696 5.6 24.4 5.6ZM16 8C18.1217 8 20.1566 8.84285 21.6569 10.3431C23.1571 11.8434 24 13.8783 24 16C24 18.1217 23.1571 20.1566 21.6569 21.6569C20.1566 23.1571 18.1217 24 16 24C13.8783 24 11.8434 23.1571 10.3431 21.6569C8.84285 20.1566 8 18.1217 8 16C8 13.8783 8.84285 11.8434 10.3431 10.3431C11.8434 8.84285 13.8783 8 16 8ZM16 11.2C14.727 11.2 13.5061 11.7057 12.6059 12.6059C11.7057 13.5061 11.2 14.727 11.2 16C11.2 17.273 11.7057 18.4939 12.6059 19.3941C13.5061 20.2943 14.727 20.8 16 20.8C17.273 20.8 18.4939 20.2943 19.3941 19.3941C20.2943 18.4939 20.8 17.273 20.8 16C20.8 14.727 20.2943 13.5061 19.3941 12.6059C18.4939 11.7057 17.273 11.2 16 11.2Z" fill="#005C82"/>
				</svg>
			</a>
			<a href="https://x.com/lextoppe" target="_blank">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_1297_34)">
						<mask id="mask0_1297_34" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
							<path d="M0 0H32V32H0V0Z" fill="white"/>
						</mask>
						<g mask="url(#mask0_1297_34)">
							<path d="M25.2 1.49942H30.1074L19.3874 13.7828L32 30.5006H22.1257L14.3863 20.3634L5.54057 30.5006H0.628571L12.0937 17.3577L0 1.50171H10.1257L17.1109 10.7657L25.2 1.49942ZM23.4743 27.5566H26.1943L8.64 4.29028H5.72343L23.4743 27.5566Z" fill="#005C82"/>
						</g>
					</g>
					<defs>
						<clipPath id="clip0_1297_34">
							<rect width="32" height="32" fill="white"/>
						</clipPath>
					</defs>
				</svg>
			</a>
			<a href="https://www.tiktok.com/@lextop_pe" target="_blank">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M24.1778 5.01333C22.9628 3.62583 22.2932 1.84427 22.2933 0H16.8V22.0444C16.7585 23.2377 16.2551 24.3681 15.3961 25.1973C14.5371 26.0265 13.3895 26.4896 12.1956 26.4889C9.67111 26.4889 7.57334 24.4267 7.57334 21.8667C7.57334 18.8089 10.5244 16.5156 13.5644 17.4578V11.84C7.43111 11.0222 2.06223 15.7867 2.06223 21.8667C2.06223 27.7867 6.96889 32 12.1778 32C17.76 32 22.2933 27.4667 22.2933 21.8667V10.6844C24.5209 12.2842 27.1953 13.1425 29.9378 13.1378V7.64444C29.9378 7.64444 26.5956 7.80444 24.1778 5.01333Z" fill="#005C82"/>
				</svg>
			</a>
			<a href="https://www.facebook.com/lextoppe" target="_blank">
				<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M32 16C32 7.168 24.832 0 16 0C7.168 0 0 7.168 0 16C0 23.744 5.504 30.192 12.8 31.68V20.8H9.6V16H12.8V12C12.8 8.912 15.312 6.4 18.4 6.4H22.4V11.2H19.2C18.32 11.2 17.6 11.92 17.6 12.8V16H22.4V20.8H17.6V31.92C25.68 31.12 32 24.304 32 16Z" fill="#005C82"/>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
